name: Dependency update

on:
  schedule:
    - cron:  '*/30 * * * *'

jobs:

  build:
    name: Run npm check update and recompile dlls
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: set remote url
        run: git remote set-url --push origin https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          check-latest: true
      - name: Install npm-check-updates
        run: npm install -g npm-check-updates
      - name: Update dependencies
        run: |
          npm install
          ncu -u
          npm install
      - name: Check if something changed
        uses: EndBug/version-check@v1
        with:
          diff-search: true
      - name: Bump version patch
        if: steps.check.outputs.changed == 'true'
        run: npm version patch
      - name: Create PR
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          delete-branch: true
          commit-message: Update dependencies and recompile dlls
          title: Update dependencies
          labels: |
            dependencies
          body: |
            Update report
            - Auto-generated by update workflow
            - Version change found in commit ${{ steps.check.outputs.commit }}!
            - New version: ${{ steps.check.outputs.version }} (${{ steps.check.outputs.type }})
          branch: update-dependencies
